html,
body {
  overflow-x: hidden;
  max-width: 100%;
}
.icon {
  display: none;
}
.header_button1 {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.header__link_active {
}
/* Адаптация для мобильных */
@media (min-width: 769px) {
  .modal {
    display: none !important;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 1rem;
}
.header__menu {
  display: flex;
  gap: 50px;
}
.logo {
  width: 140px;
  height: 30px;
}
.header__item {
  list-style: none;
}
.header__item a {
  text-decoration: none;
  color: black;
}
.header__link {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__link_active {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header_button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
  width: 180px;
  height: 50px;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}
.header_button1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
  width: 180px;
  height: 50px;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
}
.top_bar {
  width: 100%;
  display: flex;
  margin-top: 54px;
  justify-content: space-between;
  padding: 0 2rem;
}

.top_bar_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top_bar_text_block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.top_bar_text1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  color: #808080;
  margin: 0;
}

.top_bar_text2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  color: #1c1c1c;
  margin: 0;
}
.top_bar_img {
  width: 100%;
}

.top_bar_text3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  color: #1c1c1c;
  margin: 0;
}
.info {
  background-color: #1c1c1c;
  margin-top: 55px;
  padding: 120px 0;
  width: 100%;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.info_text_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.info_block {
  text-align: center;
  width: calc(25% - 80px);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_block p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  margin-top: 20px;
}
main {
  margin-top: 115px;
}
.opportunities {
  padding: 0 2rem;
}
.opportunities_text1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #808080;
}
.opportunities_text2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #1c1c1c;
}
.opportunities_text3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1c1c1c;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}
.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  margin-top: 115px;
  padding: 0 2rem;
}
.focus_img {
  width: 100%;
}
.focus p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #1c1c1c;
}
.plus {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.opportunities_block {
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.opportunities_img {
  width: 100%;
  margin-top: 115px;
  display: flex;
  padding: 0;
}

.opportunities_img_1 {
  top: 10%;
  transform: translateX(15%);
  z-index: 2;
}

.price {
  background-color: #1c1c1c;
  width: 50%;
  height: 100%;
  padding: 0 7rem;
  margin-left: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price_text1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.price_text2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.data {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  gap: 75px;
  padding: 0 2rem;
}
.form_block {
  background-color: #1c1c1c;
  width: 100%;
  margin-left: calc(-50vw + 50%);
  margin-top: 150px;
}
.form_info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding: 120px 0;
  width: 80%;
}
.form_text {
  width: 50%;
  padding-left: 2rem;
}
.mini_text {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.mini_text1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.mini_text2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.form_text1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.form {
  box-shadow: 0px -6px 10px 0px #1c1c1c40;
  background-color: white;
  border-radius: 25px;
  border: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  transform: translateY(-35%);
  z-index: 2;
  right: 0;
}
.form p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}
.forma {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form input {
  width: 20vw;
  padding: 1rem;
  border-radius: 50px;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  outline: none;
}
.form select {
  padding: 1rem;
  border-radius: 50px;
  color: #808080;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  outline: none;
}
.form button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
  width: 180px;
  height: 50px;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 45px;
}
.reteil1 {
  display: none;
}
.reteil2 {
  display: none;
}
.reteil {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.reteil_all {
  width: 100%;
}
.footer {
  background-color: #1c1c1c;
  width: 100%;
  margin-left: calc(-50vw + 50%);
  margin-top: 115px;
  padding: 0;
}
.footer_block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 115px;
  padding: 2rem;
}
.footer_block img {
  width: 140px;
  height: 30px;
}
.footer_block p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 100%;
  color: white;
}
.footer_info {
  display: flex;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .info {
    padding: 80px 0;
  }

  .info_text_block {
    gap: 60px;
  }

  .info_block {
    width: calc(50% - 60px);
    min-width: 180px;
  }
  .header {
    padding: 0 2rem;
  }
  .header__menu {
    gap: 25px;
  }

  .top_bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    display: flex;
    width: 80%;
    margin: 115px auto;
  }
  .opportunities {
    padding: 0;
  }
  .opportunities_block {
    display: flex;
    margin-top: 200px;
    width: 100%;
    padding: 0;
  }
  .opportunities_img {
    position: relative;
  }
  .opportunities_text3 {
    width: 100%;
  }

  .opportunities_img_1 {
    position: absolute;
    top: -40%;
    transform: translateX(0%);
    z-index: 2;
    height: 400px;
  }

  .price {
    background-color: #1c1c1c;
    width: 100%;
    height: 70vh;
    margin-left: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 4rem;
  }
  .form_block {
    background-color: #1c1c1c;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 150px;
  }
  .form_info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    padding: 120px 0;
    width: 100%;
  }
  .form {
    width: 30%;
  }
  .form input {
    width: 80%;
  }
  .mini_text1 {
    font-size: 30px;
  }
  .mini_text2 {
    font-size: 18px;
  }
  .form_text1 {
    font-size: 25px;
  }
}

/* Адаптация для экранов до 768px */
@media (max-width: 768px) {
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
  }

  .modal-content {
    background-color: #fff;
    margin: 3% 2% 0 auto;
    padding: 30px;
    max-width: 50%;
    border-radius: 10px;
    position: relative;
  }

  .close-modal {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
  }

  .modal-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .modal-link {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 500;
  }

  .modal-link.active {
    font-weight: 700;
  }

  .modal-button {
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  .info {
    padding: 60px 0;
  }

  .info_text_block {
    gap: 40px;
  }
  .opportunities_text2 {
    font-size: 30px;
  }
  .opportunities_text3 {
    font-size: 20px;
  }

  .info_block {
    width: calc(50% - 40px);
    min-width: 160px;
  }

  .info_block p {
    font-size: 18px;
  }
  .price_text1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
  }
  .price_text2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
  }
  .price {
    background-color: #1c1c1c;
    width: 100%;
    height: 70vh;
    margin-left: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 4rem;
  }
  .form_block {
    background-color: #1c1c1c;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 150px;
  }
  .form_info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 80vh;
  }
  .form_text {
    margin-top: auto;
    width: 80%;
  }
  .form {
    width: 70%;
  }
  .form input {
    width: 80%;
  }
  .mini_text1 {
    font-size: 30px;
  }
  .mini_text2 {
    font-size: 16px;
  }
  .form_text1 {
    font-size: 20px;
  }
  .header__nav {
    display: none;
  }
  .header_button {
    display: none;
  }
  .icon {
    display: block;
  }
}

/* Адаптация для экранов до 480px */
@media (max-width: 480px) {
  .info {
    padding: 40px 0;
  }

  .info_text_block {
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .info_block {
    width: 100%;
    max-width: 280px;
  }

  .info_block p {
    font-size: 14px;
  }
  .body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 390px;
    margin: 0 auto;
  }
  .icon {
    display: block;
  }
  .header__menu {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .header_button1 {
    display: block;
  }

  .info_text_block {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .opportunities_img_1 {
    position: static;
    transform: none;
    width: 100%;
  }

  .form_info {
    flex-direction: column;
    align-items: center;
  }

  .form {
    position: static;
    transform: none;
    width: 90%;
    margin-top: 40px;
  }

  .header__nav {
    display: none;
  }
  .header_button {
    display: none;
  }
  .header {
    display: flex;
  }

  .top_bar {
    width: 80%;
    display: flex;
    margin-top: 54px;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .top_bar img {
    width: 341px;
    height: 188px;
    margin-top: 100px;
  }

  .top_bar_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .top_bar_text_block {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .top_bar_text1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: #808080;
    margin: 0;
  }

  .top_bar_text2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    color: #1c1c1c;
    margin: 0;
  }

  .top_bar_text3 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: #1c1c1c;
    margin: 0;
  }
  .info_block img {
    width: 75px;
    height: 75px;
  }
  .opportunities_text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .opportunities_text1 {
    font-size: 12px;
  }
  .opportunities_text2 {
    font-size: 22px;
  }
  .opportunities_text3 {
    font-size: 14px;
    width: 322px;
  }
  .price {
    width: 100%;
  }
  .focus {
    padding: 0 20px;
  }
  .focus_img {
    width: 100%;
    padding: 0 20px;
  }
  .focus p {
    font-size: 22px;
  }
  .plus {
    width: 45;
    height: 45;
  }
  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .data_text {
    padding: 2rem;
  }
  .data img {
    width: 100%;
    align-items: center;
  }
  .form_block {
    background-color: #1c1c1c;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 150px;
  }
  .form_info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 70vh;
  }
  .form_text {
    top: 15%;
    width: 80%;
  }
  .form {
    width: 70%;
    margin-left: auto;
    transform: translateY(-50%);
  }
  .form input {
    width: 80%;
  }
  .mini_text1 {
    font-size: 30px;
  }
  .mini_text2 {
    font-size: 16px;
  }
  .form_text1 {
    font-size: 20px;
  }
  .reteil_all {
    display: none;
  }
  .mini_text1 {
    font-size: 22px;
  }
  .mini_text2 {
    font-size: 14px;
  }
  .form_text1 {
    font-size: 14px;
  }
  .form_text {
    position: absolute;
    transform: translateY(150%);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 0;
  }
  .opportunities_block {
    width: 100%;
    margin: 25vh 0 0 0;
    padding: 0;
    height: 80vh;
  }
  .opportunities_img_1 {
    position: absolute;
    top: -60%;
    transform: translateX(-15%);
    margin-right: auto;
    z-index: 2;
  }
  .price_text1 {
    font-size: 22px;
    width: 90%;
  }
  .price_text2 {
    font-size: 14px;
    width: 90%;
    margin-bottom: 4rem;
  }
  .opportunities {
    padding: 0;
    width: 100%;
  }
  .price {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: end;
  }
  .footer {
    padding: 1rem 20px;
    width: 100%;
  }
  .footer_info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .reteil {
    padding: 0 20px;
    margin-top: 20vh;
  }
  .reteil1 {
    display: block;
    width: 100%;
    height: 100%;
  }
  .reteil2 {
    width: 100%;
    display: block;
  }
  .footer_block p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100%;
    color: white;
  }
}
